<%- include("partials/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/logo.PNG" alt="" width="100" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">Hello <%= username%>!</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">You have written <%= postCount%> Blogposts.</p>
    <% if (postCount > 0) {%>
      <div class="row justify-content-center">
        <p class="lead mb-4">Latest Blogpost: </p>
        <div class="card w-75 text-dark bg-light mb-3">
          <div class="card-body">
            <h5 class="card-title"><%= list[list.length-1].title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Published on: <%= list[0].date_column %> from <%=city%></h6>
            <p class="card-text"><%= list[list.length-1].content %></p>
          </div>
        </div>
      </div>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/create" type="button" class="btn btn-primary btn-lg px-4 gap-3" style="background-color: #1B1A55 !important;border-color: #1B1A55 !important;">Create a new Blog post</a>
      </div>
    <% } else { %>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/create" type="button" class="btn btn-primary btn-lg px-4 gap-3" style="background-color: #1B1A55 !important;border-color: #1B1A55 !important;">Write your first BlogPost</a>
      </div>
    <% } %>
  </div>
</div>

<%- include("partials/footer.ejs") %>
